/* SETTING ALL TO ZERO*/
*{
	margin: 0;
	padding: 0;
}


body {
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	height:100%;
	width:100%;
	background-color:#efefef;
	}
A { 
    text-decoration: none;
	color:black;
  } 

A:link {TEXT-DECORATION:none;font-weight:normal;}
A:visited {TEXT-DECORATION:none;font-weight:normal;}
A:active {TEXT-DECORATION:none;font-weight:normal;}
A:hover {TEXT-DECORATION:none;} 

h2 {
	margin-top:50px;
	text-align:center;
}

h1 {
	margin-top:30px; 
	text-align:center;
}

a img {
     border: none; 
   }
/* SETTING ALL TO ZERO*/


/* HEADER MENU*/
#upper_menu {
	width:100%;
	background:#ccc;
} 

#upper_menu ul {
	text-align:center;
	margin:0 auto;
	padding-top: 15px;
	height:40px;
}

#upper_menu ul li{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style:bold;
	font-size:19px;
	list-style-type:none;
	float:center;
	display: inline;
	margin:0 75px 0 0;
}

#upper_menu ul li:hover{
	color:#0088ff;
}

#upper_menu ul li.selected{
	color:#0088ff;
}
/* HEADER MENU*/

#add_button {
	color:black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:14px;
	width:150px;
	margin:20px auto;
}



/* FORMS STYLE */

#form_container {
	padding:20px;
	margin: 20px auto;
	border: 1px solid #cdcdcd;
	width: 800px;
	-webkit-birder-radius: 6px;
	-moz-border-radius: 6px;
	 border-radius: 6px; 
}

#form_container h2 {
	margin:0;
}
	 
	 
#form_container tbody td {
	padding: 20px 10px 20px 10px;
}

/* FORMS STYLE */

/* ALERT BOX*/
#alert_box {
	position:fixed;
	bottom:0px;
	left:0px;
	padding:20px 10px 0px 10px;
	background:#ccc;
}
/* ALERT BOX*/


/* TABLE STYLE */

.features-table
{
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
  background: #fafafa;
  background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,center bottom,center top,from(#fff),color-stop(0.5, #eaeaea),to(#fff));
  margin-bottom:20px;
  border-top: 1px solid black;
}
.features-table td
{
  height: 70px;
  padding: 15px 10px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  border-right: 1px solid black;
}
.features-table tbody td
{
  text-align: center;
}
.features-table td.grey
{
  background: #efefef;
  background: rgba(144,144,144,0.15);
  border-right: none;
  word-wrap: break-word;
}
.features-table td.green
{
  background: #e7f3d4;
  background: rgba(184,243,85,0.3);
  border-left: 1px solid black;
  border-right: none;
}
.features-table td:nowrap
{
  white-space: nowrap;
}
.features-table thead td
{
  font-size: 120%;
  font-weight: bold;
  border-top: 1px solid #eaeaea;
}
.features-table tfoot td
{
  font-size: 120%;
  font-weight: bold;
  border-bottom: 1px solid #dadada;
}

/* TABLE STYLE */